

.App {
  text-align: center;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.flickr-image:hover{
  transform: scale(1.1);
  cursor: pointer;

}
.snapshot{
  font-family:Brush Script;
 font-size: 40px;
 font-weight: bold;
}
.buttons{
  padding-top: 10px;
  padding-bottom: 10px;
}
.button{

  background-color: black;
  color: gray;
  margin: 5px;
}
